<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444466111374-2bovpod3q6l720mk8njbb71cip28v0ti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444466111374-2bovpod3q6l720mk8njbb71cip28v0ti</string>
	<key>API_KEY</key>
	<string>AIzaSyDzqtjne1FaYiF6Ah1-30S28z1Pldbo_Dk</string>
	<key>GCM_SENDER_ID</key>
	<string>444466111374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodRecipesFlutter</string>
	<key>PROJECT_ID</key>
	<string>food-recipes-943c8</string>
	<key>STORAGE_BUCKET</key>
	<string>food-recipes-943c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444466111374:ios:53132feaae927e82f83adf</string>
</dict>
</plist>